
/**
 * copyright 2023 Yahkoob
 */

/**
 * TABLE OF CONTENT
 *
 * COMPONENTS
 * Btn............................Buttons style
 *
 * MAIN CONTENT
 * Portfolio......................Portfolio style
 * Media queries..................Responsive for all devices
 */





/*-----------------------------------*\
    #COMPONENTS
\*-----------------------------------*/

@import url('../components/btn.css');





/*-----------Goals-----------*/

.Goals {
    background-color: var(--maximum-yellow-red_a10);
    padding-block-start: calc(var(--section-padding) + 60px);
}

.Goals-list,
.Goals-card { display: grid; }

.Goals-list { gap: 50px; }

.Goals-card { gap: 25px; }

.Goals-card .card-banner {
    position: relative;
    border: 2px solid var(--jet);
    box-shadow: 0 0 0 var(--jet);
    transition: var(--transition-1);
}

.Goals-card .card-banner:is(:hover, :focus-within) {
    box-shadow: 3px 3px 0 var(--jet);
}

.Goals-card .btn-icon {
    position: absolute;
    top: 15px;
    left: 0;
    background-color: var(--white);
    color: var(--jet);
    font-size: 2rem;
    padding: 8px;
    border: 2px solid var(--jet);
    opacity: 0;
    transition: var(--transition-1);
    will-change: transform;
}

.Goals-card .card-banner:is(:hover, :focus-within) .btn-icon {
    transform: translateX(15px);
    opacity: 1;
}

.Goals-card .chip {
    background-color: var(--orange-red_a20);
    max-width: max-content;
    color: var(--jet);
    font-weight: var(--fw-500);
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 6px 20px;
    border-radius: var(--radius-pill);
    margin-block-end: 18px;
}

.Goals-card .card-text { margin-block: 10px 25px; }





/*-----------media queries-------*/


/* responsive for large than 768px screen*/

@media (min-width: 768px) {

    .Goals-card {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    }

    .Goals-list > li:nth-child(2n) .card-banner { order: 1; }

  .Goals-card > * {
    width: 80%;
    margin-inline: auto;
    }

    .Goals-card .card-text { margin-block-start: 20px; }

}